
/* .navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.active-link {
  border-bottom: 2px solid black;
} */